<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='reset.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
</head>
<body>
 <form>
     <h1>Add beacon</h1>
        <input type="text" placeholder="Beacon id:">
        <input type="text" placeholder="Beacon location:">
        <input type="text" placeholder="False Beacon location:">
        <input type="text" placeholder="False Beacon location:">
        <input type="text" placeholder="False Beacon location:">
        <input type="text" placeholder="Hint:">

        <button type="submit" value="Submit">Submit</button>
 </form>
 <form>
     <h1>Add Question</h1>
        <input type="text" placeholder="Question:">
        <input type="text" placeholder="Answer:">
        <input type="text" placeholder="False answer:">
        <input type="text" placeholder="False answer:">
        <input type="text" placeholder="False answer:">
        <input type="text" placeholder="Hint:">

        <button type="submit" value="Submit">Submit</button>
 </form>
</body>
</html>