<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{{if table}}
    <form method="post">
        <div>
            <label for="a">ODP A</label>
            <input type="radio" id="a" name="question" value= {{table[0}}>
        </div>
        <div>
            <label for="b">ODP B</label>
            <input id="b" name="question" type="radio" value={{table[1}}>
        </div>
        <div>
            <label for="c">ODP C</label>
            <input id="c" name="question" type="radio" value={{table[2}}>
        </div>
        <div>
            <label for="d">ODP D</label>
            <input id="d" name="question" type="radio" value="{{table[3}}">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>