<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
</head>
<body>
<div class="container-fluid top">
    {{if table}}
    <form method="post">
        <h2>{{table[0]}}</h2>
        <div class="row">

            <input class="btn btn-success col-md-6 col-xs-12 col-sm-6 col-md-8 big" type="button" name="answer"
                   value={table[1]}>

            <input class="btn btn-success col-md-6 col-xs-12 col-sm-6 col-md-8 big" type="button" name="answer"
                   value={table[2]}>

        </div>
        <div class="row">

            <input class="btn btn-success col-md-6 col-xs-12 col-sm-6 col-md-8 big" type="button" name="answer"
                   value={table[3]}>

            <input class="btn btn-success col-md-6 col-xs-12 col-sm-6 col-md-8 big" type="button" name="answer"
                   value={table[4]}>

        </div>

    </form>
    {{endif}}
</div>
</body>
</html>